# Python Assignment Solution

This is an easy assignment to test your overall knowledge and mastery of fundamentdals of Python. The expected output of all the questions will also be given. Write your answer in the proper designated cell. Do not write the answer in the cell where the desired output is given. Write the answer acording to the instructions given in the question and replicate the output.

**1. Declare a variable named `first_name`, assign the value "James" (or 'James') to it and then print it.**

In [1]:
# Your answer goes here
first_name = "James"
print(first_name)

James

In [ ]:
# Do not write anything here

James

**2. Given a variable named `temp = 100`, write the code to prints it's data type.**

In [2]:
# Your answer goes here
temp = 100
print(type(temp))

<class 'int'>

In [ ]:
# Do not write anything here

<class 'int'>

**3. Write the single line of missing code to get the desired output.**

In [3]:
# Write only one line of code below (do not change the code at the bottom)
print("Hello",end="_")
print("World")

Hello_World

In [ ]:
# Do not write anything here

Hello_World

**4. For `var = 15 + 21j`, print the desired output.**

In [4]:
# Your answer goes here
var = 15 + 21j
print(var.real + var.imag)

36.0

In [ ]:
# Do not write anything here

36.0

**5. Create a string `s` with the value `'Python'` and then print it's length.**

In [5]:
# Your answer goes here
s = 'Python'
print(len(s))

6

In [ ]:
# Do not write anything here

6

**6. Check if first letter of every word in a given string `s = "Hello World"` is upper case or not.**

In [6]:
# Your answer goes here
s = "Hello World"
print(s.istitle())

True

In [ ]:
# Do not write anything here

True

**7. Convert the string `s = "Hello World"` to upper case without using the function `upper()`.**

In [14]:
s = "Hello World"
# Your answer goes here
s = s.lower().swapcase()
print(s)

HELLO WORLD

In [ ]:
# Do not write anything here

'HELLO WORLD'

**8. Convert only the first and last character of `s = "hello world"` to upper case.**

In [18]:
s = "hello world"
result = ""
for i in range(len(s)):
    char = ord(s[i])
    if char >= 97 and char <= 122 and (i == 0 or i == len(s)-1):
        result += chr(char-32)
    else:
        result += s[i]   
print(result)

Hello worlD

In [ ]:
# Do not write anything here

'Hello worlD'

**9. In the string `s = "My name is John."` replace 'a' by 'p' and 'n' by 'q'.**

In [19]:
s = "My name is John."
# Your answer goes here
s.replace('a','p').replace('n','q')

'My qpme is Johq.'

In [ ]:
# Do not write anything here

'My qpme is Johq.'

**10. Check if all characters in a string `s = "Hello123"` are alphanumeric.**

In [20]:
# Your answer goes here
s = "Hello123"
print(s.isalnum())

True

In [ ]:
# Do not write anything here

True

**11. Get the desired output with a single print statement.**

In [21]:
# Your answer goes here
print("Hello\nWorld")

Hello
World

In [ ]:
# Do not write anything here

Hello
World

**12. Print the value of 19 raised to the power of 5.**

In [24]:
# Your answer goes here
import math
print(math.pow(19,5))

2476099.0

In [ ]:
# Do not write anything here

2476099.0

**13. Using `s = "Hello John.\n Good Morning!"`, obtain a list as shown in output.**

In [28]:
# Your answer goes here
s = "Hello John.\n Good Morning!"
print(s.split(" "))

['Hello', 'John.\n', 'Good', 'Morning!']

In [ ]:
# Do not write anything here

['Hello', 'John.\n', 'Good', 'Morning!']

**14. Given `name = 'Michael'` and `marks = 80` print the desired output using `format()`.**

In [30]:
# Your answer goes here
name = 'Michael'
marks = 80
print("{0} has received {1} marks in the last exam.".format(name,marks))

Michael has received 80 marks in the last exam.

In [ ]:
# Do not write anything here

Michael has received 80 marks in the last exam.

**15. Prompt the user to input their first name, and store it in a variable called `name`. Then check if thew name is  `"John"` or not.**

In [1]:
# Your answer goes here
name = input("Enter first name: ")
c = True if name == "John" else False
print(c)

Enter first name: John
True

In [ ]:
# Do not write anything here

Enter first name: John
True

**16. For `ar = [-99, -20, 19, 50, 89, 100]` check which of the values lie within a range of [-20, 100).**

In [39]:
# Your answer goes here
ar = [-99, -20, 19, 50, 89, 100] 
for i in range(len(ar)):
    if -20 <= ar[i] < 100:
        print(f"{ar[i]}: {True}")
    else:
        print(f"{ar[i]}: {False}")

-99: False
-20: True
19: True
50: True
89: True
100: False

In [ ]:
# Do not write anything here

-99: False
-20: True
19: True
50: True
89: True
100: False

**17. Take two integer inputs from the user and check if they are equal.**

In [2]:
# Your answer goes here
a = int(input())
b = int(input())
print(True if a==b else False)

20
20
True

In [ ]:
# Do not write anything here

20
20
True

**18. You have 3 numbers a, b, c. Check if their sum is equal to 20, less than 20 and greater than 20.**

In [7]:
# Your answer goes here
a,b,c = 10,15,3
sum_of_no = a + b + c
print(f"a: {a}, b: {b}, c: {c}")
print(f"Sum is equal to 20: {sum_of_no == 20}")
print(f"Sum is less than 20: {sum_of_no < 20}")  
print(f"Sum is greater than 20: {sum_of_no > 20}")

a: 10, b: 15, c: 3
Sum is equal to 20: False
Sum is less than 20: False
Sum is greater than 20: True

In [ ]:
# Do not write anything here

a: 10, b: 15, c: 3
Sum is equal to 20: False
Sum is less than 20: True
Sum is greater than 20: False

**19. Calculate nad print the area of a circle with radius `r = 15`**

In [2]:
# Your answer goes here
import math
r = 15
print(f"Area: {math.pi*(r**2)}")

Area: 706.8583470577034

In [ ]:
# Do not write anything here

Area: 706.8583470577034

**20. Print the factorial of 12 using the math library.**

In [3]:
# Your answer goes here
import math
print(math.factorial(12))

479001600

In [ ]:
# Do not write anything here

479001600

**21. Calculate the highest common factor of 25 and 15.**

In [4]:
# Your answer goes here
a = 25
b = 15

if a > b:
    smaller = a
else:
    smaller = b
for i in range(1, smaller+1):
    if((a % i == 0) and (b % i == 0)):
        hcf = i 
print(hcf)

5

In [ ]:
# Do not write anything here

5

**22. Find the value of sec(81 degrees).**

In [6]:
# Your answer goes here
import math
a = math.radians(81)
b = 1/math.cos(a)
print(b)

6.392453221499659

In [ ]:
# Do not write anything here

6.392453221499659

**23. Find the value of `log(25)` with base 5.**

In [10]:
# Your answer goes here
import math
print(math.log(25,5))

2.0

In [ ]:
# Do not write anything here

2.0

**24. Unpack the tuple `t = (55, 81, 9)` into three variable a, b and c, and print them as shown.**

In [11]:
# Your answer goes here
t = (55, 81, 9)
a,b,c = t
print(f"{a} {b} {c}")

55 81 9

In [ ]:
# Do not write anything here

55 81 9

**25. Given a tuple `t = (10, 30, 5, 18, 7)`, print it's reverse.**

In [15]:
# Your answer goes here
t = (10, 30, 5, 18, 7)
print(t[::-1])

(7, 18, 5, 30, 10)

In [ ]:
# Do not write anything here

(7, 18, 5, 30, 10)

**26. Find the index of the element `29` in the list `ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]` and replace it by `1000`. Finally print the updated list.**

In [17]:
# Your answer goes here
ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]
for i in range(len(ar)):
    if ar[i] == 29:
        ar[i] = 1000
        break
print(ar)

[21, 15, 9, 7, 18, 1000, 56, 17, 3]

In [ ]:
# Do not write anything here

[21, 15, 9, 7, 18, 1000, 56, 17, 3]

**27. Given two lists `ar1 = [1, 2, 3, 4, 5]` and `ar2 = [10, 20, 30, 40, 50]`, print them as shown.**

In [20]:
# Your answer goes here
ar1 = [1, 2, 3, 4, 5]
ar2 = [10, 20, 30, 40, 50]
print(list(zip(ar1,ar2)))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [ ]:
# Do not write anything here

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

**28. Divide the list `ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]` into 3 equal parts, reverse them and join them. Print the megred list.**

In [21]:
# Your answer goes here
ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]
n = 3
x = [ar[i:i + n] for i in range(0, len(ar), n)]
list1 = x[0]
list2 = x[1]
list3 = x[2]
rev_list1 = list1[::-1]
rev_list2 = list2[::-1]
rev_list3 = list3[::-1]
merge_list = rev_list1 + rev_list2 + rev_list3
print(merge_list)

[9, 15, 21, 29, 18, 7, 3, 17, 56]

In [ ]:
# Do not write anything here

[9, 15, 21, 29, 18, 7, 3, 17, 56]

**29. Given a list `ar = [1, 5, 7, 3, 9, 2, 4]`, remove the middle element and add it to the beginning and end of the list.**

In [2]:
# Your answer goes here
ar = [1, 5, 7, 3, 9, 2, 4]
mid_ele_index = len(ar)//2
mid_ele = ar[mid_ele_index]
ar.remove(mid_ele)
ar.insert(0,mid_ele)
ar.extend([mid_ele])
print(ar)

[3, 1, 5, 7, 9, 2, 4, 3]

In [ ]:
# Do not write anything here

[3, 1, 5, 7, 9, 2, 4, 3]

**30. Given a list `ar = [1, 2, [10, 20, [30, 40], 50, 60], 3]` insert `70` right between `30` and `40` and then print the modified list.**

In [3]:
# Your answer goes here
ar = [1, 2, [10, 20, [30, 40], 50, 60], 3]
ar[2][2].insert(1,70)
print(ar)

[1, 2, [10, 20, [30, 70, 40], 50, 60], 3]

In [ ]:
# Do not write anything here

[1, 2, [10, 20, [30, 70, 40], 50, 60], 3]

**31. Given a variable named `s = "Hello World"`, write the code to print only those characters which are present at odd index.**

In [4]:
# Your answer goes here
s = "Hello World"
for i in range(len(s)):
    if i % 2 != 0:
        print(s[i])

e
l

o
l

In [ ]:
# Do not write anything here

e
l

o
l

**32. Given a list `ar = [10, 21, 15, 14, 63, 18, 71, 56]`, print the sum of all the values in the list which are divisible by 7.**

In [8]:
# Your answer goes here
ar = [10, 21, 15, 14, 63, 18, 71, 56]
sum_of_no = 0
for i in range(len(ar)):
    if ar[i] % 7 == 0 :
        sum_of_no += ar[i] 
print(sum_of_no)

154

In [ ]:
# Do not write anything here

154

**33. Print the pattern without using nested loop.**

In [9]:
# Your answer goes here
print(f"{'1'*1:^9}")
print(f"{'2'*3:^9}")
print(f"{'3'*5:^9}")
print(f"{'4'*7:^9}")
print(f"{'5'*9:^9}")
print(f"{'4'*7:^9}")
print(f"{'3'*5:^9}")
print(f"{'2'*3:^9}")
print(f"{'1'*1:^9}")

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [ ]:
# Do not write anything here

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

**34. Take an integer number as input from the user ad check if the number remains same on reversing it. (You should use `int(input())` to take input)**

In [3]:
# Your answer goes here
a = int(input())
orginal_no = a
rev_a = 0
while(a != 0):
    rem = a % 10
    rev_a = rev_a * 10 + rem
    a = a // 10    
print(True if orginal_no == rev_a else False)

101
True

In [ ]:
# Do not write anything here

101
True

**35. Given two sets `set1 = {1, 3, 5, 4, 8}` and `set2 = {3, 7, 8, 9, 11}`, print the set of elements that are present in both sets.**

In [17]:
# Your answer goes here
set1 = {1, 3, 5, 4, 8} 
set2 = {3, 7, 8, 9, 11}
print(set2.intersection(set1))

{8, 3}

In [ ]:
# Do not write anything here

{3, 8}

**36. Given two lists `item = ['A', 'B', 'C', 'D']` and `cost = [30, 50, 25, 80]`, create a dictionary using these two lists where the item is the key and the cost is the value**

In [18]:
# Your answer goes here
item = ['A', 'B', 'C', 'D']
cost = [30, 50, 25, 80]
result = dict()
for i in range(len(cost)):
    result[item[i]] = cost[i]
print(result)

{'A': 30, 'B': 50, 'C': 25, 'D': 80}

In [ ]:
# Do not write anything here

{'A': 30, 'B': 50, 'C': 25, 'D': 80}

**37. Given a dictionary `dict_a = {'A': [1, 5, 6, 8, [10, "ABCD"], 5 + 7j], 'B': [10, 20, 30, [40, {"Hello": ['My name is John']}]]}` access and print the name `'John'` from it.**

In [20]:
dict_a = {'A': [1, 5, 6, 8, [10, "ABCD"], 5 + 7j], 'B': [10, 20, 30, [40, {"Hello": ['My name is John']}]]}
# Your answer goes here
print(dict_a['B'][3][1]["Hello"][0][11:])

John

In [ ]:
# Do not write anything here

John

**38. Check if the value `100` is one the values in the dictionary `d = {'a': 20, 'b': 70, 'c': 100, 'd': 119}`.**

In [22]:
# Your answer goes here
d = {'a': 20, 'b': 70, 'c': 100, 'd': 119}
print(True if 100 in d.values() else False)

True

In [ ]:
# Do not write anything here

True

**39. Given a list `ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]`, count the occurrence of all the unique elements of the list and create a dictionary where the keys are the elements of the list and the values are their corresponding count.**

In [24]:
# Your answer goes here
ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]
freq = dict()
for item in ar: 
        if (item in freq.keys()): 
            freq[item] += 1
        else: 
            freq[item] = 1
print(freq)

{5: 3, 6: 4, 1: 1, 3: 1, 7: 4, 4: 5, 2: 2}

In [ ]:
# Do not write anything here

{5: 3, 6: 4, 1: 1, 3: 1, 7: 4, 4: 5, 2: 2}

**40. Input a positive integer from the user and calculate of sum of all even numbers from 2 to that number (included).**

In [4]:
# Your answer goes here
n = int(input("Enter a number: "))
sum_of_no = 0
for i in range(2,n+1):
    if i % 2 == 0:
        sum_of_no += i
print(f"Sum: {sum_of_no}")

Enter a number: 100
Sum: 2550

In [ ]:
# Do not write anything here

Enter a number: 100
Sum: 2550

**41. Input a number from the user and count the sum of digits. If the sum is greater than 20, print `"Hello"`, otherwise print `"World"`.**

In [5]:
# Your answer goes here
n = int(input("Enter a number: "))
sum_of_no = 0
while(n !=0):
    sum_of_no += n %10
    n = n //10
print("Hello" if sum_of_no > 20 else "World")

Enter a number: 2983
Hello

In [ ]:
# Do not write anything here

Enter a number: 2983
Hello

**42. Repeatedly take a number as input from the user. Stop when any of the inputs is greater than 100 or less than 0.**

In [6]:
# Your answer goes here
flag = True
while(flag):
    a = int(input("Enter number: "))
    if a > 100 or a < 0 :
        flag = False
        print("Stopped")

Enter number: 20
Enter number: 0
Enter number: 80
Enter number: 100
Enter number: 19
Enter number: 56
Enter number: 101
Stopped

In [ ]:
# Do not write anything here

Enter number: 20
Enter number: 0
Enter number: 80
Enter number: 100
Enter number: 19
Enter number: 56
Enter number: 101
Stopped

**43. Write a function `func(s)` in which the input is an email and the output should be the part of the email before the '@'. `func("JohnDoe@gmail.com")` should give `'JohnDoe'`.**

In [34]:
# Your answer goes here
def func(s):
    result =""
    for i in s:
        if i == "@":
            break
        result += i
        
    return result    

if __name__ == "__main__":
    print(func("JohnDoe@gmail.com"))

JohnDoe

In [ ]:
# Do not write anything here

'JohnDoe'

**44. Write a function `reverse(s)` that recursively reverses a string. `reverse("Hello World")` should give the output `'dlroW olleH'`.**

In [35]:
# Your answer goes here
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]

if __name__=="__main__":
    print(reverse("Hello World"))

dlroW olleH

In [ ]:
# Do not write anything here

'dlroW olleH'

**45. Write a function `unique(ar)` that takes a list and returns a copy of the list in descending order with all the duplicates removed. Use `ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]` and call the function as `unique(ar)`.**

In [36]:
# Your answer goes here
def unique(ar):
    list_copy = ar.copy()
    dup_rem_list = list(set(list_copy))
    return sorted(dup_rem_list,reverse=True)

if __name__ == "__main__":
    ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]
    print(unique(ar))

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Do not write anything here

[7, 6, 5, 4, 3, 2, 1]

**46. Create a class named `Example` that doesn't contain any parameter or method. Then create an object of that class and print it.**  
(In the output, the part after the 'object at' will be different for you)

In [38]:
# Your answer goes here
class Example:
    pass
obj = Example()
print(obj)

<__main__.Example object at 0x000002643AFE4808>

In [ ]:
# Do not write anything here

<__main__.Example object at 0x000002576663AE20>

**47. Given the following class `Employee`, create a class `Intern` that will inherit all the properties of Employee, along with another paramater `duration` and a method `display(self)` that will display all the propertieso of `Intern`. Then create an object on the class `Intern` and call the `display` method.**

In [40]:
class Employee:
    def __init__(self,name, emp_id, salary):
        self.name = name
        self.salary = salary
        self.emp_id = emp_id
# Your answer goes here
class Intern(Employee):
    def __init__(self,name,emp_id,salary,duration):
        super().__init__(name,emp_id,salary)
        self.duration = duration  
    def display(self):
        print(f"Name: {self.name}\nID: {self.emp_id}\nSalary: {self.salary}\nDuration: {self.duration}") 

obj = Intern("Michael",1234,210000,12)   
obj.display()

Name: Michael
ID: 1234
Salary: 210000
Duration: 12

In [ ]:
# Do not write anything here

Name: Michael
ID: 1234
Salary: 210000
Duration: 12